@model TheLearningHub_Hotels.Models.CRoomspagecontent

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
}


<div>
    
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Projectname)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Projectname)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Pagename)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Pagename)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ImagepathTop)
        </dt>
        <dd class="col-sm-8">
            <img src=@Url.Content("~/images/" + Model.ImagepathTop) asp-append-version="true" style="border-radius:40%;" width="100" height="100" />
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Footerlocation)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Footerlocation)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Footerphonenumber)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Footerphonenumber)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Footeremail)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Footeremail)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Userlogin)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Userlogin.Userloginid)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Roomspagecontentid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
