@model IEnumerable<TheLearningHub_Hotels.Models.CService>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Servicename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servicetext)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Servicename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicetext)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.Hotelid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Serviceid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Serviceid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Serviceid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
