@model TheLearningHub_Hotels.Models.CTeampagecontent

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CTeampagecontent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Projectname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Projectname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pagename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pagename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagepathTop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagepathTop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Footerlocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Footerlocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Footerphonenumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Footerphonenumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Footeremail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Footeremail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Userlogin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Userlogin.Userloginid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Teampagecontentid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
