@model TheLearningHub_Hotels.Models.CRoom

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
}

@* <h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3> *@
<div>
    @* <h4>CRoom</h4>
    <hr  *@/>
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Roomnumber)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Roomnumber)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Roomcapacity)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Roomcapacity)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.PricePerNight)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.PricePerNight)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Isavailable)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Isavailable)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Imagepath)
        </dt>
        <dd class="col-sm-8">
            <img src=@Url.Content("~/images/" + Model.Imagepath) asp-append-version="true" style="border-radius:20%;" width="100" height="100" />
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Hotel)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Hotel.Hotelid)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Roomid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
