@model TheLearningHub_Hotels.Models.CUserlogin

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
}
@* 
<h1>Details</h1> *@

<div>
    @* <h4>CUserlogin</h4>
    <hr /> *@
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Passwordd)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Passwordd)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Role.Roleid)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
    <a asp-action="Edit" asp-route-id="@Model?.Userloginid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

