@model IEnumerable<TheLearningHub_Hotels.Models.CUserlogin>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
}
@* 
<h1>Index</h1> *@

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passwordd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passwordd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Roleid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Userloginid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Userloginid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Userloginid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
