@model TheLearningHub_Hotels.Models.CReservation

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
}

@* <h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3> *@
<div>
    
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CheckInDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CheckInDate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Toltalprice)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Toltalprice)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Invoicepdf)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Invoicepdf)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Room.Roomid)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Reservationsid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
