@model IEnumerable<TheLearningHub_Hotels.Models.CReservation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
}



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckInDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toltalprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoicepdf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Toltalprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invoicepdf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Roomid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Reservationsid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Reservationsid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Reservationsid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
